<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>

    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-QuiShiBaiKe.Web-20151027174105;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-QuiShiBaiKe.Web-20151027174105.mdf" />
    <add name="QSBKDBEntities" connectionString="metadata=res://*/QSBKDB.csdl|res://*/QSBKDB.ssdl|res://*/QSBKDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=QSBKDB;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>